<!doctype html>
<html>
<head>

    <title>Notes</title>
    <script>
    window.require = { baseUrl: "/scripts/" };
    </script>

    <script src="/scripts/require.js"></script>
    <script src="/scripts/config.js"></script>
    <script src="/scripts/start.js"></script>
    <link type="text/css" rel="stylesheet" media="all" href="/styles/main.css">
</head>
<body>
</body>
</html>
