<!doctype html>
<html>
<head>
    <title>Notes</title>
    <script>
    window.require = { baseUrl: "/scripts/" };
    </script>
    <script src="/channel/bcsocket.js"></script>
    <script src="/share/share.uncompressed.js"></script>
    <script src="/share/json.uncompressed.js"></script>

    <script src="/scripts/require.js"></script>
    <script src="/scripts/config.js"></script>
    <link type="text/css" rel="stylesheet" media="all" href="/styles/main.css">
</head>
<body>
{{{body}}}

<script async src="/scripts/start.js"></script>


{{#unless production}}
<script>document.write('<script src="http://'
    + (location.host || 'localhost').split(':')[0]
    + ':35729/livereload.js?snipver=1"></'
    + 'script>')</script>
{{/unless}}

</body>
</html>
