dark-green = rgb(10, 100, 10)
dark-red = rgb(173, 0, 0)
error-text = #b94a48
error-bg = #f2dede
error-border = #eed3d7
opinsys-green = rgb(176, 199, 48)
opinsys-green-light = rgb(176, 199, 48)
opinsys-green-lighter = rgb(196, 219, 68)
opinsys-orange = rgb(237,113,19)
opinsys-orange-light = rgb(252,128,34)
opinsys-orange-lighter = rgb(255,138,44)
titleColor = rgb(237,113,19)
