html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #f0eee1;
  font: 100%/1.5 "Helvetica neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.loading {
  margin-top: 20px;
}
.loading #loading-spinner {
  float: left;
  width: 70px;
  height: 70px;
}
.loading h1 {
  float: left;
  width: 50%;
  color: #ed7113;
  font-size: 300%;
}
.bb-notes-layout {
  margin: 0 auto;
  padding: 1em;
  width: 100%;
}
.bb-notes-layout header {
  height: 65px;
  padding: 0;
  position: relative;
}
.bb-notes-layout header .bb-notes-name .title-wrap {
  float: left;
  width: 78%;
}
.bb-notes-layout header .bb-notes-name .title-wrap h1 {
  line-height: 1;
}
.bb-notes-layout header .bb-notes-name .opinsys-labs-wrap {
  float: right;
  width: 20%;
}
.bb-notes-layout header .bb-notes-name .opinsys-labs-wrap img {
  max-width: 200px;
  min-width: 80px;
  width: 90%;
}
@media screen and (max-device-width:1200px) and (orientation: landscape) {
  .bb-notes-layout header {
    padding: 0 1em;
  }
  .bb-notes-layout header .bb-notes-name .opinsys-labs-wrap {
    padding: 0.25em;
  }
  .bb-notes-layout header .bb-notes-name .opinsys-labs-wrap img {
    min-width: 0;
    width: 100%;
  }
}
@media screen and (max-device-width:800px) and (orientation: portrait) {
  .bb-notes-layout header {
    padding: 0 1em;
  }
  .bb-notes-layout header .bb-notes-name .opinsys-labs-wrap {
    padding: 0.25em;
  }
  .bb-notes-layout header .bb-notes-name .opinsys-labs-wrap img {
    min-width: 0;
    width: 100%;
  }
}
.bb-timeline .item-container-wrap {
  bottom: 85px;
  left: 0;
  margin: 0;
  padding: 1em;
  position: absolute;
  top: 65px;
  width: 100%;
  z-index: 1;
  overflow: auto;
}
.bb-timeline.image-preview-active .item-container-wrap {
  bottom: 310px;
}
.bb-timeline .send-form-container {
  bottom: 0px;
  position: absolute;
  z-index: 100;
}
.touch .bb-timeline .item-container {
  padding-bottom: 50px;
}
@media screen and (max-device-width:1200px) and (orientation: landscape) {
  .bb-timeline .item-container-wrap {
    bottom: 110px;
    padding-bottom: 3em;
  }
}
@media screen and (max-device-width:800px) and (orientation: portrait) {
  .bb-timeline .item-container-wrap {
    bottom: 140px;
  }
  .bb-timeline.image-preview-active .item-container-wrap {
    bottom: 335px;
  }
}
.bb-send-form {
  bottom: 0;
  left: 0;
  padding: 0.25em;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.bb-send-form .progress {
  float: right;
}
.bb-send-form textarea {
  margin: 0;
  max-height: 100px;
  max-width: 100%;
  min-height: 40px;
  width: 100%;
}
.bb-send-form .button-container {
  position: relative;
}
.bb-send-form .button-container .auto-scroll,
.bb-send-form .button-container .auto-scroll-open {
  margin-left: 2%;
}
.bb-send-form .button-container .fake-file-input,
.bb-send-form .button-container button {
  min-width: 95px;
}
.bb-send-form .button-container .fake-file-input {
  display: inline-block;
  height: 26px;
  line-height: 2;
  position: relative;
  width: 95px;
}
.bb-send-form .button-container .fake-file-input:hover {
  cursor: pointer;
}
.bb-send-form .button-container .fake-file-input:before {
  content: "+";
  padding-right: 0.25em;
}
.bb-send-form .button-container .fake-file-input input[type="file"] {
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.bb-send-form .button-container button {
  float: right;
  height: 26px;
  padding: 0.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 10%;
}
.bb-send-form .button-container button:hover {
  cursor: pointer;
}
.bb-send-form .image-preview {
  height: 200px;
  padding: 2% 0;
}
.bb-send-form .image-preview img {
  max-height: 98%;
  height: auto;
}
@media screen and (max-device-width:1200px) and (orientation: landscape) {
  .bb-send-form .button-container .auto-scroll,
  .bb-send-form .button-container .auto-scroll-open {
    height: 52px;
    position: absolute;
    top: 25%;
  }
  .bb-send-form .button-container .fake-file-input {
    height: 52px;
    line-height: 0;
  }
  .bb-send-form .button-container .fake-file-input input[type="file"] {
    height: 52px;
  }
  .bb-send-form .button-container button,
  .bb-send-form .button-container .fake-file-input {
    padding: 1em;
    width: 20%;
  }
}
@media screen and (max-device-width:800px) and (orientation: portrait) {
  .bb-send-form .button-container .auto-scroll,
  .bb-send-form .button-container .auto-scroll-open {
    height: 52px;
    position: absolute;
    top: 25%;
  }
  .bb-send-form .button-container .fake-file-input {
    line-height: 0;
  }
  .bb-send-form .button-container .fake-file-input input[type="file"] {
    height: 52px;
  }
  .bb-send-form .button-container button,
  .bb-send-form .button-container .fake-file-input {
    height: 52px;
    padding: 1em;
    width: 20%;
  }
}
.bb-text-item {
  display: block;
  margin: 1em 0;
  padding: 0 0.85em 1em;
}
.bb-text-item p {
  word-wrap: break-word;
}
.bb-text-item:first-of-type {
  border-top: 1px solid #eceada;
  padding-top: 1em;
}
.bb-text-item .created {
  display: block;
  margin-top: 0.25em;
}
.bb-text-item .extras img {
  max-width: 50%;
}
@media screen and (max-width: 800px) {
  .bb-text-item .extras img {
    max-width: 75%;
  }
}
.bb-link-extra iframe {
  vertical-align: middle;
  padding-right: 10px;
}
.bb-link-extra img {
  vertical-align: middle;
  padding-right: 10px;
}
.bb-link-extra img.og {
  height: 68px;
}
.bb-send-form {
  background-color: rgba(230,230,220,0.75);
}
.bb-send-form .cancel-image {
  color: #ffa500;
  font-family: "Comic", "Purisa";
  font-weight: bold;
  background-color: #ffc0cb;
  padding: 5px;
  text-shadow: 0.1em 0.1em #008000;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.bb-send-form .error {
  color: #ffa500;
  font-family: "Comic", "Purisa";
  font-weight: bold;
  background-color: #ffc0cb;
  padding: 5px;
  text-shadow: 0.1em 0.1em #008000;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.bb-send-form textarea {
  background-color: rgba(250,250,250,0.7);
  border: 1px solid #888;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font-size: 100%;
}
.bb-send-form textarea:focus {
  background-color: rgba(255,255,255,0.5);
}
.bb-send-form .button-container .auto-scroll {
  color: #ad0000;
}
.bb-send-form .button-container .auto-scroll-open {
  color: #0a640a;
}
.bb-send-form .button-container .fake-file-input,
.bb-send-form .button-container button {
  color: #222;
}
.bb-send-form .button-container .fake-file-input {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ed7113), color-stop(1, #fc8022));
  background-image: -webkit-linear-gradient(top, #ed7113 0%, #fc8022 100%);
  background-image: -moz-linear-gradient(top, #ed7113 0%, #fc8022 100%);
  background-image: -o-linear-gradient(top, #ed7113 0%, #fc8022 100%);
  background-image: -ms-linear-gradient(top, #ed7113 0%, #fc8022 100%);
  background-image: linear-gradient(top, #ed7113 0%, #fc8022 100%);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 70%;
  text-align: center;
  text-shadow: 0 1px 1px #ddd;
  text-transform: uppercase;
}
.bb-send-form .button-container .fake-file-input:before {
  font-size: 120%;
  font-weight: 800;
}
.bb-send-form .button-container .fake-file-input:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ed7113), color-stop(1, #ff8a2c));
  background-image: -webkit-linear-gradient(top, #ed7113 0%, #ff8a2c 100%);
  background-image: -moz-linear-gradient(top, #ed7113 0%, #ff8a2c 100%);
  background-image: -o-linear-gradient(top, #ed7113 0%, #ff8a2c 100%);
  background-image: -ms-linear-gradient(top, #ed7113 0%, #ff8a2c 100%);
  background-image: linear-gradient(top, #ed7113 0%, #ff8a2c 100%);
  -webkit-box-shadow: inset 0 0 20px rgba(237,237,237,0.4);
  box-shadow: inset 0 0 20px rgba(237,237,237,0.4);
}
.bb-send-form .button-container .fake-file-input i {
  font-size: 120%;
}
.bb-send-form .button-container .fake-file-input input[type="file"] {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.bb-send-form .button-container button {
  background-color: #b0c730;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b0c730), color-stop(1, #b0c730));
  background-image: -webkit-linear-gradient(top, #b0c730 0%, #b0c730 100%);
  background-image: -moz-linear-gradient(top, #b0c730 0%, #b0c730 100%);
  background-image: -o-linear-gradient(top, #b0c730 0%, #b0c730 100%);
  background-image: -ms-linear-gradient(top, #b0c730 0%, #b0c730 100%);
  background-image: linear-gradient(top, #b0c730 0%, #b0c730 100%);
  border: 1px solid rgba(214,214,214,0.85);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 1px 1px 1px #ddd;
  text-transform: uppercase;
}
.bb-send-form .button-container button:hover,
.bb-send-form .button-container button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b0c730), color-stop(1, #c4db44));
  background-image: -webkit-linear-gradient(top, #b0c730 0%, #c4db44 100%);
  background-image: -moz-linear-gradient(top, #b0c730 0%, #c4db44 100%);
  background-image: -o-linear-gradient(top, #b0c730 0%, #c4db44 100%);
  background-image: -ms-linear-gradient(top, #b0c730 0%, #c4db44 100%);
  background-image: linear-gradient(top, #b0c730 0%, #c4db44 100%);
  -webkit-box-shadow: inset 0 0 20px rgba(237,237,237,0.4);
  box-shadow: inset 0 0 20px rgba(237,237,237,0.4);
}
.bb-notes-layout h1 {
  font-size: 200%;
  color: #ed7113;
}
.bb-timeline .item-container-wrap {
  background-color: #fff;
  border: none;
  -webkit-box-shadow: inset 0 0 40px rgba(200,200,200,0.5);
  box-shadow: inset 0 0 40px rgba(200,200,200,0.5);
}
.bb-text-item {
  border-bottom: 1px solid #eceada;
  font-size: 100%;
}
.bb-text-item p {
  color: #333;
}
.bb-text-item .created {
  color: #777;
  color: rgba(119,119,119,0.5);
  font-size: 70%;
}
.bb-text-item .extras > div {
  padding: 5px;
  border: 1px dotted #ed7113;
  font-size: 11pt;
  margin: 0px;
}
.no-touch ::-webkit-scrollbar {
  width: 12px;
}
.no-touch ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(65,120,107,0.3);
  box-shadow: inset 0 0 6px rgba(65,120,107,0.3);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.no-touch ::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(237,113,19,0.05)), color-stop(0.5, rgba(237,113,19,0.55)), color-stop(1, rgba(237,113,19,0.05)));
  background-image: -webkit-linear-gradient(top, rgba(237,113,19,0.05) 0%, rgba(237,113,19,0.55) 50%, rgba(237,113,19,0.05) 100%);
  background-image: -moz-linear-gradient(top, rgba(237,113,19,0.05) 0%, rgba(237,113,19,0.55) 50%, rgba(237,113,19,0.05) 100%);
  background-image: -o-linear-gradient(top, rgba(237,113,19,0.05) 0%, rgba(237,113,19,0.55) 50%, rgba(237,113,19,0.05) 100%);
  background-image: -ms-linear-gradient(top, rgba(237,113,19,0.05) 0%, rgba(237,113,19,0.55) 50%, rgba(237,113,19,0.05) 100%);
  background-image: linear-gradient(top, rgba(237,113,19,0.05) 0%, rgba(237,113,19,0.55) 50%, rgba(237,113,19,0.05) 100%);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 2px rgba(237,113,19,0.15);
  box-shadow: inset 0 0 2px rgba(237,113,19,0.15);
}
input[type="file"]:hover {
  cursor: pointer;
}
@media screen and (max-device-width:1200px) and (orientation: landscape) {
  .bb-send-form {
    padding: 0.5em;
  }
  .bb-send-form .button-container {
    font-size: 120%;
  }
  .bb-send-form .fake-file-input,
  .bb-send-form .auto-scroll,
  .bb-send-form .auto-scroll-open {
    font-size: 120%;
  }
  .bb-send-form .fake-file-input i,
  .bb-send-form .auto-scroll i,
  .bb-send-form .auto-scroll-open i {
    font-size: 120%;
  }
  .bb-send-form button {
    font-size: 100%;
  }
}
@media screen and (max-device-width:800px) and (orientation: portrait) {
  .bb-send-form {
    padding: 0.5em;
  }
  .bb-send-form .button-container .fake-file-input,
  .bb-send-form .button-container .auto-scroll,
  .bb-send-form .button-container .auto-scroll-open {
    font-size: 120%;
  }
  .bb-send-form .button-container .fake-file-input i,
  .bb-send-form .button-container .auto-scroll i,
  .bb-send-form .button-container .auto-scroll-open i {
    font-size: 120%;
  }
  .bb-send-form .button-container button {
    font-size: 100%;
  }
  .bb-notes-layout h1 {
    font-size: 120%;
  }
}
