html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.bb-timeline .item-container {
  top: 100px;
  bottom: 100px;
  position: absolute;
  overflow: auto;
  width: 80%;
}
.bb-timeline .send-form-container {
  position: absolute;
  bottom: 0px;
}
.bb-timeline h1 {
  font-size: 300%;
  color: #00f;
}
.bb-timeline .item-container {
  border: 1px solid #000;
}
.bb-timeline .send-form-container {
  border: 1px solid #ffa500;
}
.bb-send-form button {
  display: block;
}
.bb-send-form button {
  background-color: #0ff;
}
.bb-text-item {
  display: block;
}
.bb-text-item {
  font-size: 20pt;
}
.bb-text-item p {
  color: #f00;
}
.bb-text-item .created {
  color: #008000;
}
