
@import "nib"

global-reset()

*
  box-sizing border-box
  -webkit-font-smoothing antialiased

body
  background-color rgb(240, 238, 225)
  font 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif
  overflow-x hidden

img
  max-width 100%

.clearfix
  *zoom 1

.clearfix:before,
.clearfix:after
  display table
  content ""
  line-height 0

.clearfix:after
  clear both

@import "loading"
@import "notes-layout"
@import "notes-name"
@import "timeline"
@import "send-form"
@import "text-item"
@import "link-extra"
@import "theme"


