landscapeTablet = "screen and (max-device-width:1200px) and (orientation: landscape)"
portraitTablet = "screen and (max-device-width:800px) and (orientation: portrait)"
res_1024x768 = "screen and (max-height: 768px) and (max-width: 1024px)"
smallHeight = "screen and (max-height: 580px)"
smallScreenSmallerHeight = "screen and (max-height: 450px) and (max-width: 800px)"