@import "mediaqueries"

.bb-notes-layout

  margin 0 auto
  padding 1em
  width 100%

  header
    position absolute
    top 0px

@media landscapeTabled
  .bb-notes-layout
    padding 0
    header
      padding 0 1em

@media portraitTabled
  .bb-notes-layout
    padding 0
    header
      padding 0 1em
