
.bb-notes-name
  .title-wrap
    float left
    width 78%
    h1
      line-height 1
  .opinsys-labs-wrap
    float right
    width 20%
    img
      max-width 200px
      min-width 80px
      width 90%
