
.bb-notes-layout

  margin 0 auto
  padding 1em
  width 100%

  header
    position absolute
    top 0px

@media screen and (max-device-width:1024px) and (orientation: landscape)
  .bb-notes-layout
    padding 0
    header
      padding 0 1em

@media screen and (max-width:768px)
  .bb-notes-layout
    padding 0
    header
      padding 0 1em
