@import "mediaqueries"

.bb-notes-layout
  height 100%
  margin 0 auto
  max-width 1024px
  padding 1em 0
  position relative
  width 100%

  header
    line-height 1
    padding 0 0 0.5em 0.5em
    position relative
    top 0px
    h1
      font-size 190%

@media landscapeTablet
  .bb-notes-layout
    padding 0
    header
      padding 0 1em

@media portraitTablet
  .bb-notes-layout
    padding 0
    header
      padding 0.5em
