
.bb-send-form,
.print-button,
.created
  display none !important

body, html
  margin 0px
  padding 0px

*
  background none !important

.bb-timeline
  .item-container-wrap
    position static

  .item-container-wrap
    box-shadow none



