@import "mediaqueries"

// Structure
.bb-send-form
  bottom 0
  left 0
  padding 0.25em
  position fixed
  width 100%
  z-index 9999
  .progress
    float right
  textarea
    margin 0
    max-height 100px
    max-width 100%
    min-height 40px
    width 100%
  .button-container
    position relative
    .auto-scroll, .auto-scroll-open
      margin-left 2%
    .fake-file-input, button
      min-width 95px
    .fake-file-input
      display inline-block
      height 26px
      line-height 2
      position relative
      width 95px
      &:hover
        cursor pointer
      &:before
        content "+"
        padding-right 0.25em
      input[type="file"]
        height 26px
        left 0
        position absolute
        top 0
        width 100%
    button
      float right
      height 26px
      padding 0.5em
      user-select none
      width 10%
      &:hover
        cursor pointer

  .cancel-image
    margin-top 0.25em
    padding 0.5em
  .error
    display inline-block
    padding 0.25em

  .image-preview
    height 200px
    padding 0.5em 0
    img
      max-height 98%
      height auto

@media landscapeTablet
  .bb-send-form
    .button-container
      .auto-scroll, .auto-scroll-open
        height 52px
        position absolute
        top 25%
      .fake-file-input
        height 52px
        line-height 0
        input[type="file"]
          height 52px
      button, .fake-file-input
        padding 1em
        width 20%

@media portraitTablet

  .bb-send-form
    .button-container
      .auto-scroll, .auto-scroll-open
        height 52px
        position absolute
        top 25%
      .fake-file-input
        line-height 0
        input[type="file"]
          height 52px
      button, .fake-file-input
        height 52px
        padding 1em
        width 20%
