
// Structure
.bb-text-item
  display block
  margin 1em 0
  padding 0 0.85em 1em
  p
    word-wrap break-word
  &:first-of-type
    border-top 1px solid #eceada
    padding-top 1em

  .created
    display block
    margin-top 0.25em
