@import "colors"
@import "mediaqueries"

// Mixin to add some really ugly styles to make sure elements with this will
//  get fixed :)
FIXME()
  color orange
  font-family "Comic", "Purisa"
  font-weight bold
  background-color pink
  padding 5px
  text-shadow  0.1em 0.1em green
  border-radius 50px

.bb-send-form
  background-color rgba(230,230,220,0.75)
  textarea
    background-color rgba(250,250,250,0.7)
    border 1px solid #888
    border-radius 1px
    font-size 100%
    &:focus
      background-color rgba(255,255,255,0.5)
  .cancel-image
    background-color #da4f49
    border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
    border-style solid
    border-width 1px
    border-radius 4px
    color #fefefe
    font-size 80%
    text-decoration none
    &:hover
      background-color #bd362f
  .error
    background-color error-bg
    border 1px solid error-border
    border-radius 4px
    color error-text
    font-size 90%
    text-shadow 0 1px 0 rgba(255, 255, 255, 0.5)
  .button-container
    .auto-scroll
      color dark-red
    .auto-scroll-open
      color dark-green
    .fake-file-input, button
      color #222
    .fake-file-input
      background-image linear-gradient(top, opinsys-orange, opinsys-orange-light)
      border-radius 2px
      font-size 70%
      text-align center
      text-shadow 0 1px 1px #ddd
      text-transform uppercase
      &:before
        font-size 120%
        font-weight 800
      &:hover
        background-image linear-gradient(top, opinsys-orange, opinsys-orange-lighter)
        box-shadow inset 0 0 20px rgba(237,237,237,0.4)
      i
        font-size 120%
      input[type="file"]
        opacity 0
    button
      padding-bottom 25px
      background-color opinsys-green
      background-image linear-gradient(top, opinsys-green, opinsys-green-light)
      border 1px solid rgba(214, 214, 214, 0.85)
      border-radius 2px
      text-shadow 1px 1px 1px #ddd
      text-transform uppercase
      &:hover, &:active
        background-image linear-gradient(top, opinsys-green, opinsys-green-lighter)
        box-shadow inset 0 0 20px rgba(237,237,237,0.4)

.bb-notes-layout
  h1
    font-size 180%
    color titleColor

.bb-timeline
  .item-container-wrap
    background-color white
    border none
    box-shadow inset 0 0 40px rgba(200, 200, 200, 0.5)



// Style

@keyframes highlight
  0%
    background opinsys-orange
  100%
    background none

.bb-text-item
  border-bottom 1px solid #ECEADA
  font-size 100%

  p
    color #333

  .created
    color #777
    color rgba(119, 119, 119, 0.5)
    font-size 70%

  .extras > div
    padding 5px
    border 1px dotted opinsys-orange
    font-size 11pt
    margin 0px

// Custom scrollbar (webkit only)
.no-touch
  ::-webkit-scrollbar
      width 12px

  ::-webkit-scrollbar-track
    box-shadow inset 0 0 6px rgba(65,120,107,0.3)
    border-radius 2px

  ::-webkit-scrollbar-thumb
    background-image linear-gradient(top,rgba(237,113,19,0.05) 0%, rgba(237,113,19,0.55) 50%, rgba(237,113,19,0.05) 100%)
    border-radius 2px
    box-shadow inset 0 0 2px rgba(237,113,19,0.15)

input[type="file"]:hover
  cursor pointer

/*@media screen and (min-width:1280px)
  .bb-send-form
    background-color transparent*/


@media landscapeTablet
  .bb-send-form
    padding 0.5em
    .button-container
        font-size 120%
      .fake-file-input, .auto-scroll, .auto-scroll-open
        font-size 120%
        i
          font-size 120%
      button
        font-size 100%

@media portraitTablet
  .bb-send-form
    padding 0.5em
    .button-container
      .fake-file-input, .auto-scroll, .auto-scroll-open
        font-size 120%
        i
          font-size 120%
      button
        font-size 100%
  .bb-notes-layout
    h1
      font-size 120%

@media smallScreens
  .bb-notes-layout
    h1
      font-size 120%