

.bb-send-form
  button
    background-color cyan



.bb-timeline
  h1
    font-size 300%
    color blue

  .item-container
    border none

  .send-form-container
    border 1px solid orange



// Style
.bb-text-item

  font-size 100%

  p
    color red

  .created
    color green
