

// Structure
.bb-timeline

  .item-container-wrap
    bottom 85px
    left 0
    margin 0
    padding 1em
    position absolute
    top 65px
    width 100%
    z-index 1
    overflow auto


  .send-form-container
    bottom 0px
    position absolute
    z-index 100

// ipad scroll fix
.touch .bb-timeline .item-container
  padding-bottom 50px


/*media screen and (min-width:1280px)
  .bb-timeline
    .item-container-wrap
      bottom 10px
      width 60%*/


@media screen and (max-device-width:1024px) and (orientation: landscape)
  .bb-timeline .item-container-wrap
      bottom 110px
      padding-bottom 3em


@media screen and (max-width:768px)
  .bb-timeline .item-container-wrap
      bottom 110px
