
.bb-timeline
  h1
    font-size 300%
    color blue
  p
    color red


  .item-container
    border 1px solid black
    top 100px
    bottom 100px
    position absolute
    overflow auto
    width 80%

  .send-form-container
    position absolute
    bottom 0px

