<div class="title-wrap">
    <h1 contenteditable>{{name}}</h1>
    <i class="print-button icon-print"></i>
</div>

<a title="Opinsys Labs – Research and Development"
   class="opinsys-labs-wrap"
   href="http://labs.opinsys.com/"
   target="_blank">

  <img src="/img/opinsys_labs_hand.png">

</a>
