<textarea></textarea>
<div class="button-container clearfix">
  <input class="image-select" type="file" value="PIC">
  <button>Lähetä</button>

  {{#if imagePreview}}
  <div class="image-preview"></div>
  {{/if}}
</div>

