<textarea></textarea>
{{#if imagePreview}}
  <a href="#" class="cancel-image"><i class="icon-cancel"></i>Poista valittu kuva</a>
  <div class="image-preview"></div>
{{/if}}

<div class="button-container clearfix">
  <span class="fake-file-input" title="Add picture"><i class="icon-picture"></i>
    <input size="3" class="image-select" type="file" value="PIC">
  </span>
  {{#if autoScroll}}
  <span class="auto-scroll" title="Sivu rullataan automaattisesti" ><i class="icon-lock"></i></span>
  {{else}}
    <span class="auto-scroll-open" title="Vie sivu alas niin se rullataan automaattisesti"><i class="icon-lock-open"></i></span>
  {{/if}}

  {{#if errorMsg}}
  <div class=error><i class="icon-attention"></i>{{errorMsg}}</div>
  {{/if}}

  <button>Lähetä</button>
  <div class="progress">
    <canvas width="26" height="26">
  </div>
</div>

