<textarea></textarea>
{{#if imagePreview}}
  <div class="image-preview"></div>
{{/if}}
<div class="button-container clearfix">
  <span class="fake-file-input" title="Add picture"><i class="icon-picture"></i>
    <input size="2" class="image-select" type="file" value="PIC">
    <!-- Firefox hack: max-width:768px <input size="7" class="image-select" type="file" value="PIC"> -->
  </span>
  {{#if autoScroll}}
  <span class="auto-scroll" title="Sivu rullataan automaattisesti" ><i class="icon-lock"></i></span>
  {{else}}
    <span class="auto-scroll-open" title="Vie sivu alas niin se rullataan automaattisesti"><i class="icon-lock-open"></i></span>
  {{/if}}
  <button>Lähetä</button>
</div>

